{% extends "accounts/user_admin_template.html" %}
{% block page_title %}
    User Info

{% endblock page_title %}

{% block content %}
   
              <div><h5>نام: <name >{{request.user.first_name}} </name></h5></div>
              <div><h5>نام خانوادگی: <lastname >{{request.user.last_name}} </lastname></h5></div>
              <div><h5>ایمیل: <email >{{request.user.email}} </email></h5></div>
              <div><h5>مبایل: <mobile >{{request.user.mobile}} </mobile></h5></div>

{% endblock content %}