{% extends "base/base.html" %}


{% block title %} 
  **محصولات دیجیکالا**Users : 
{% endblock title %}

{% block main %}

 <div class="container">
    <div class="row">
      <div id="page-content" class="col-12 col-md-6 col-lg-6 mx-auto" >

         <div id="breadcrump" class="row px-3" > 
                   <div id="breadcrump" class="row px-3"> 
                    <div id="breadcrump" class="row px-3">
                      <div id="breadcrump" class="row px-3">
                        <div id="breadcrump" class="row px-3" > 

              <div class="card">
                  <div class="card-body">
                     
                    {% if perms.accounts.view_user %}
                    <div class="alert alert-success" role="alert">
                            
                            <h3>
                              شما کاربر 
                              {{user.first_name}} {{user.last_name}}
                               اجازه دسترسی به این اطلاعات را دارید.
                              </h3>
                      </div>
                      <ul>
                        {% for user in users_list  %}
                        
                        <div class="alert alert-info" role="alert">
                           <h5> {{user.first_name}}
                                {{user.last_name}} 
                              : {{user.email}}
                            </h5>
                          
                        </div> 
                       
                        {% endfor %}
                      </ul> 
                    {% else %}

                        <div class="alert alert-danger" role="alert">
                           <h4> You do not have permission to view this page.</h4>
                            <h3>شما کاربر {{user.first_name}} {{user.last_name}} اجازه دسترسی به این اطلاعات را ندارید.</h3>
                        </div>
                        
                    {% endif %}

                  </div>

              </div>
            
           
      </div>   
    </div> 
</div>
          
          
{% endblock main %}
  
    