{% extends "base/base.html" %}


{% block title %} 
  **محصولات دیجیکالا** {{product.name}}
{% endblock title %}

{% block main %}

  <!-- نمایش اطلاعات محصول -->
  <h1>{{product.name}}</h1>
  <h5>{{product.en_name}}</h5>
  <p>{{product.description}}</p>
  <hr>

  <!-- نمایش گزینه‌های محصول -->
  <div>
    <h3>ویژگی‌های محصول:</h3>
    <ul>
      {% for option in product.prdct_options.all %} 
                {% comment %}
                {# reverse relation from Product by ProductOptions and set the name of 
                related_name='options' #} 
                {% endcomment %}
            <li>
              <strong>{{ option.name }}:</strong> 
                     {{ option.value }}
            </li>
      {% empty %}
             <li>هنوز ویژگی‌ای برای این محصول تعریف نشده است</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3>تصاویر محصول:</h3>
    <ul>
      {% for img in product.prdct_images.all %}
      <li><img src="{{ img.image.url }}" alt="{{ img.alt }}"></li>
      {% empty %}
      <li>هنوز تصویری برای این محصول ثبت نشده است</li>
      {% endfor %}
    </ul>
  </div>

{% endblock main %}